<mat-card>
  <mat-card-title>Nouveau Job</mat-card-title>
  <mat-card-subtitle>Ici mon sous-titre</mat-card-subtitle>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSave()">

      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input type="text" matInput maxLength="200" formControlName="title" placeholder="Titre du Job" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Société</mat-label>
        <input type="text" matInput maxLength="60" formControlName="company" placeholder="Angular" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input type="text" matInput maxLength="100" formControlName="city" placeholder="Lille" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code Postal</mat-label>
        <input type="text" matInput maxLength="20" formControlName="zipcode" placeholder="59160" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Saisissez une description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de départ</mat-label>
        <input [matDatepicker]="picker" formControlName="startDate" type="date" matInput maxLength="20" placeholder="17/06/1970" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type de contrat</mat-label>
        <mat-select formControlName="contractType">
          <mat-option *ngFor="let item of contractTypeData" [value]="item.id">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary">Sauvegarder</button>

    </form>
  </mat-card-content>

</mat-card>
