<mat-card>
  <mat-card-title>Nouveau Job</mat-card-title>
  <mat-card-subtitle>Ici mon sous-titre</mat-card-subtitle>

  <mat-card-content>
    <form action="">

      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input type="text" matInput maxLength="200" placeholder="Titre du Job" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Société</mat-label>
        <input type="text" matInput maxLength="60" placeholder="Angular" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input type="text" matInput maxLength="100" placeholder="Lille" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code Postal</mat-label>
        <input type="text" matInput maxLength="20" placeholder="59160" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

    </form>
  </mat-card-content>

</mat-card>
